name: first_workflow

on: push

jobs:
  hello-world:
    name: Write hello, world
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Write the message
        run: echo hello world

  create-release:
    name: Write hello, world on windows
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Create release
        uses: actions/create-release@v1.1.1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

