name: first_workflow

on: push

jobs:
  hello-world:
    name: Write hello, world
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Write the message
        run: echo hello world

  create-release:
    name: Write hello, world on windows
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Create release
        uses: ncipollo/release-action@v1
        with:
          tag: demo
          token: ${{ secrets.GITHUB_TOKEN }}
      
      - name: upload
        uses: actions/upload-artifact@v2
        name: my-artifact
        path: ./README.md

